<div class="row">
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div>Configuration page</div>
                    <small>
                        A message
                     </small>
                </h3>
            </div>
            <table class="table table-condensed">
                    <tr>
                        <th>Reset configuration</th>
                        <td>
                            <div class="print-button"
                                 ng-click="reset()">Reset
                            </div>
                       </td>
                    </tr>
                    <tr>
                        <th>Enable AirPrint</th>
                        <td>
                            <input type="checkbox" ng-model="airPrint" ng-change="toggleAirPrint()">
                        </td>
                    </tr>
                    <tr>
                        <th>Enable Simplified UI</th>
                        <td>
                            <input type="checkbox" ng-model="simplifiedUI" ng-change="toggleSimplifiedUI()">
                        </td>
                    </tr>
                    <tr>
                        <th>Enable Conf Officer UI</th>
                        <td>
                            <input type="checkbox" ng-model="confOfficerUI" ng-change="toggleConfOfficerUI()">
                        </td>
                    </tr>
                    <tr>
                        <th>Auto Crop and Resize</th>
                        <td>
                            <input type="checkbox" ng-model="performCropAndResize" ng-change="toggleCropAndResize()">
                        </td>
                    </tr>
                    <tr>
                        <th>Printer</th>
                        <td>
                            <select ng-model="printerSelected" ng-change="togglePrinter()" 
                                    ng-options="printer for printer in printers"></select>
                            <a ng-click="refreshListPrinters()" style="float: right; margin-top: 6px;">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
